# https://docs.github.com/en/code-security/reference/supply-chain-security/dependabot-options-reference

version: 2
updates:
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'daily'
      open-pull-requests-limit: 100
    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'daily'
